/*---------------------------------------------------------------------------
  Theme: Eastern
  
  Your CSS goes here
----------------------------------------------------------------------------*/

.active-btn {
  background-color: #5ace6e;
  color: white;
}
img {
  width: 500px;
}
